body {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;

}

.main-wrap {
    /* height: 100vh; */
    background-color: rgba(0, 0, 0, 0.327);
}

header {
    border-bottom: 2px solid white;
    font-family: Century Gothic;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    background-color: rgba(0, 0, 93, 0.792);
}

#user-icon {

    align-self: center;
    width: 3em;
    height: 3em;
}
#logout-icon {

    align-self: center;
    width: 3em;
    height: 3em;
}


header ul {
    /* margin: auto; */
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
}

header ul li {
    cursor: pointer;
    margin: 0px 20px 0px 20px;
    align-items: center;
}








/*  header Section Ends Here */




.hero {

    padding: 10px;
    font-family: absulat;
    /* margin: 0px auto; */
    /* display: flex; */
    /* margin: 0px auto; */
    /* flex-wrap: wrap;/ */
    align-items: center;
}



.left {
    /* margin-top: 40px; */

    width: 400px;
}

/* 
.right {
}   */

.hero h1 {
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
    color: white;
    font-family: Big Daddy St;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    /* width: 2000px; */
    text-shadow: 2px 2px 4px black;
}

#mainPara {
    background-color: #ff15007c;
    /* width: 900px; */
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    border: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
    color: white;
    margin-bottom: 10px;

}

#Note {
    font-size: 20px;
    font-weight: bold;
}

a {
    letter-spacing: 0.6px;
    color: white;
}

#register-font {
    /* border-bottom: 2px solid rgb(0, 0, 253); */
    color: white;
}

#Here-font {
    /* border-bottom: 2px solid white; */
    color: white;
}

#main-para {
    color: white;
    width: 100%;
    margin-top: -10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.wrap-reg {
    margin: 0%;
    padding: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.645);
    width: auto;
    /* box-shadow: 5px 5px 8px black; */
    border-radius: 5px;
    display: grid;
    margin-bottom: 60px;
    border-bottom: 3px solid rgb(0, 0, 255);
}

.reg-box {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0px auto;

}

.reg-left {
    margin-top: 30px;

}

.reg-right {
    margin-top: 20px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.387);
    font-family: Century Gothic;
}

.inp-box {
    margin: 10px;
    text-align: center;
    border: none;
    border-bottom: 2px solid white;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.168);
    color: white;
    font-family: Century Gothic;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.signin-btn {
    background-color: rgba(255, 255, 255, 0.942);
    width: auto;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
}

.signin-btn:hover {
    box-shadow: 2px 2px 8px black;
    background-color: rgb(255, 255, 255);

}

.forget-link {
    margin: auto;
    font-family: Century Gothic;
    color: white;
    /* text-shadow: 2px 0px 8px white; */
    font-size: 18px;
    text-decoration: solid;
}

#or {
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    align-items: center;
    /* margin-bottom:10px ; */
}

.forget-link:hover {
    text-decoration: underline;
}

#hr-on-main {
    width: 400px;
    /* border: none; */
    color: white;
    size: 20px;
    border-color: white;
    margin-top: 0%;
}

.bottom-ofsignup {
    display: flex;
}

.signup-btn {
    margin: 0px auto;
    display: flex;
    margin: 7px;

    justify-content: center;
    align-items: center;
    width: 270px;
    border: none;
    padding: 14px;
    color: white;
    background-color: rgb(0, 0, 93);
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
}

.signup-btn:hover {
    box-shadow: 2px 2px 8px black;
    background-color: rgb(1, 1, 122);
}

.instagram {
    display: inline-block;
    width: 20px;
    /* height: 10px; */
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 10px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.facebook {
    display: inline-block;
    width: 20px;
    /* height: 10px; */
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 10px;
    vertical-align: middle;
    background: rgb(18, 0, 213);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}







.div3rd {
    background-color: rgba(255, 255, 255, 0.663);
    padding: 30px;
    margin: 0%;
    /* display: block; */
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    /* height: 200px; */
}



#how-heading {
    font-size: 150%;
    font-family: Century Gothic;
}

#how-paragraph {
    width: 100%;
    font-size: 20px;
    /* padding: 20px; */
    /* color: white; */
}

.div4th {
    padding: 20px;
    background-color: rgba(0, 0, 93, 0.596);
    display: flex;
    justify-content: space-around;
    height: 100%;
    font-family: Century Gothic;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);

}

@media screen and (min-width: 2560px) {

    .div4th {
        height: 100vh;
    }

}

.row1 {
    width: 300px;
    margin: 20px;
    /* align-content: center; */
}

.row2 {
    margin: 20px;
    /* align-items: center; */
    width: 300px;
}

.row3 {
    margin: 20px;
    width: 300px;
}

.div4th a {

    text-decoration: none;
    font-family: Century Gothic;
}

.box-container {
    display: flex;
    /* width: 100vw; */
    flex-wrap: wrap;
    /* margin-left: 67px; */
    /* margin-right: 67px; */
    justify-content: space-around;
}

.box1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    align-self: center;
    width: 200px;
    height: 120px;
    text-align: center;
    margin: 2%;
    border-radius: 5px;
    padding: 20px;
    background: -webkit-linear-gradient(top left, #3139FF, #01176A);
    background: -moz-linear-gradient(top left, #3139FF, #01176A);
    background: linear-gradient(to bottom right, #3139FF, #01176A);
}

.box1:hover {
    /* background: rgba(0, 0, 138, 0.808); */
    cursor: pointer;
}

#box-p {
    font-size: 35px;
    margin: 0% auto;
    align-self: center;
}

.box1 {
    background-image:url("../IMG/wudu illustrator.jfif") ;
    background-position: center;
    background-size: cover;
}